<div class="container">
    <ng-template #errors>
       <div class="text-danger">
        <p>{{errorMessage}}</p>
       </div>
    </ng-template>
    <div *ngIf="products; else errors" class="card">
        <div class="card-header text-center">Products List</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="header">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <i *ngIf="p.promotion==true" class="bi bi-gift-fill text-success"></i>
                        </td>
                        <td>
                            <button (click)="handleStePromotion(p)" [ngClass]="p.promotion==true?'btn-danger':'btn-success'" class="btn">
                               <span *ngIf="p.promotion==true">Disable promo</span>
                               <span *ngIf="p.promotion==false" >Activate promo</span>
                            </button>
                        </td>
                        <td>
                            <button (click)="handleDeleteProduct(p)" class="btn danger-button">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>