<div class="container">
    <ng-template #errors>
       <div class="text-danger">
        <p>{{errorMessage}}</p>
       </div>
    </ng-template>
    <div *ngIf="products; else errors" class="card">
        <div class="card-header text-center">Products List</div>
        <div class="card-body">
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
            <div class="input-group">
                <label class="input-group-text">Keyword: </label>
                <input type="text" class="form-control" formControlName = "keyword">
                <button class="btn btn-secondary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            </form>

            <table class="table">
                <thead>
                    <tr class="header">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <i *ngIf="p.promotion==true" class="bi bi-gift-fill text-success"></i>
                        </td>
                        <td>
                            <button (click)="handleStePromotion(p)" [ngClass]="p.promotion==true?'btn-danger':'btn-success'" class="btn">
                               <span *ngIf="p.promotion==true">Disable promo</span>
                               <span *ngIf="p.promotion==false" >Activate promo</span>
                            </button>
                        </td>
                        <td>
                            <button (click)="handleDeleteProduct(p)" class="btn danger-button">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(this.totalPages); let i = index">
                    <a (click)="goToPage(i)" [ngClass]="i==currentPage?'btn-secondary':'btn-outline-secondary'" class="btn ms-1 mt-1">{{i}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>